{% extends 'planning_travel/base.html' %}
{% load static %}

{% block titulo %}Formulario Reportes Moderador{% endblock %}

{% block contenedor %}
    <div class="container my-5 w-25">
        <h1 class="text-center">Actualizar Reportes Moderador</h1>
        <form action="{% url 'reportesModerador_actualizar' %}" method="post">
            {% csrf_token %}
            <input hidden type="text" name="id" value="{{ data.id }}">
            <div class="form-floating mb-3">
                <input type="datetime" class="form-control" id="fecha_inicio" placeholder="Fecha_inicio" name="fecha_inicio" value="{{ data.fecha_inicio }}">
                <label for="fecha_inicio">fecha inicio</label>
            </div>
            <div class="form-floating">
                <input type="datetime" class="form-control" id="fecha_fin" placeholder="Fecha_fin" name="fecha_fin" value="{{ data.fecha_fin }}">
                <label for="fecha_fin">fecha fin</label>
            </div>
            <div class="row my-2">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
{% endblock %}